#mainNav {
    clear: both;
    background-color: transparent;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-family: 'Raleway', sans-serif;
} 

.navbar-toggle {
    border: 1px solid #616161 !important;
}

.navbar-toggle .icon-bar {
    border: 1px solid #616161;
}

.navbar-custom .navbar-nav > li > a {
    color: #919191;
}

.navbar-custom .navbar-nav > li > a:hover {
    color: #f1f1f1  ;
    background: none;
    text-decoration: line-through;
}

.mainHeader {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    min-width: 775px;
    padding: 150px 0;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../img/mainHeader.jpg);
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.mainHeader-container {
    margin-top: 15%;
    background: #313131;
    padding: 2px;
    color: #919191;
}

.mainHeader-container_title {
    text-align: right;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 700;
}

.mainHeader-container_subHeader {
    padding-left: 10px;
    font-size: 1rem;
    float: right;
    text-align: center;
}

.border-line {
    border-right: 3px solid #919191;
    padding-left: 5px;
    padding-right: 5px;
}

.section-containers {
    clear: both;
    position: relative;
    padding: 60px 40px;
}

.section-sidebar {
    font-family: 'Bitter', serif;
    margin-top: 280px;
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #9BD7D5;
}

.portpolio-card {
    margin-bottom: 20px;
    border: 1px solid #616161;
    position: relative;
}


.portpolio-card_image {
    width: 100% !important;
    height: 250px !important;
    opacity: 1;
    display: block;
    transition: .5s ease-in-out; 
}

.portpolio-card_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(49, 49, 49, 0.8);
}

  
.portpolio-card:hover .portpolio-card_overlay {
    opacity: 1;
}

.portpolio-card_caption {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.portpolio-card_caption p {
    font-size: 14px;
    font-weight: 600;
    text-decoration: line-through;
    line-height: 1;
    letter-spacing: 2px;
}

.portpolio-card_caption h4 {
    font-size: 1.7em;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    letter-spacing: 3px;
}

#aboutMe {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    min-width: 775px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../img/about-me.jpg);
    color: #969696;
    background-attachment: fixed;
    background-size: cover;
    text-align: right;
    font-size: 1.4rem;
}

.section-header {
    font-family: 'Bitter', serif; 
    font-weight: bold;
    color:  #9BD7D5;
}

.section-header_sub {
    color: #969696;
    font-weight: 600;
    border-bottom: 2px solid #9BD7D5;
    padding-bottom: 15px;
}